.navbar {
  width: 100%;
  font-size: 14px;
  color: white;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rbg(0, 0, 0, 0.3) 50%);
}
.navbar.scrolled {
  background-color: black;
}
.container {
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
.left {
  display: flex;
  align-items: center;
}
.left img {
  height: 50px;
  margin-right: 40px;
  margin-bottom: 15px;
  /* align-items: center; */
}
.left span {
  margin-right: 20px;
  cursor: pointer;
}
.right {
  display: flex;
  align-items: center;
}
.right img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}
.right span {
  margin-right: 20px;
  cursor: pointer;
}
.icon {
  padding-left: 20px;
} 
.options {
  display: none;
  background-color: black;
  border-radius: 5px;
}
.options span {
  padding: 10px;
  cursor: pointer;
}
.profile:hover .options {
  display: flex;
  flex-direction: column;
  position: absolute;
}



